.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  height: 50px;
  width: 50px;
  background-color: lightgray;
  transition: background-color 0.5s ease;
  color: black;
}

[data-multiplier='0'] {
  background-color: red;
}
[data-multiplier='1'] {
  background-color: orange;
}
[data-multiplier='2'] {
  background-color: yellow;
}
[data-multiplier='3'] {
  background-color: green;
}
[data-multiplier='4'] {
  background-color: blue;
}
[data-multiplier='5'] {
  background-color: indigo;
}
[data-multiplier='6'] {
  background-color: violet;
}
[data-multiplier='7'] {
  background-color: black;
}
[data-multiplier='8'] {
  background-color: white;
}
[data-multiplier='9'] {
  background-color: brown;
}
